* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: beige;
  }
  
  html,
  body {
    overflow: hidden;
    /* margin-top: 0.5rem; */
  }
  
  /* canvas{
    width: 1rem;
    height: 2rem;
  } */
  
  /* #three-canvas {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    outline: tan;
    width: 200px;
    height: 200px;
  } */

  /* #perspectiveView {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    outline: tan;
    width: 200px;
    height: 200px;
  } */


  /* .c {
    width: 50%;
    height: 50%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */
  
  #file-input {
    z-index: 1;
    position: absolute;
  }